{% extends 'customadmin/base.html' %}

{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}

{% load admin_extras %}

{% block title %}Dashboard{% endblock%}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% now "Y" as year_arg %}
{% now "M" as month_arg %}
{% now "d" as day_arg %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />



<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
          </div>
          <h5>Issued Book</h5>
        </div>
        <div class="ibox-content">
          {% if not year %}
          <h3 class="no-margins">{{ user_count.count }}</h3>
          {% else %}
          <h3 class="no-margins">{{ year.count }}</h3>
          {% endif %}
          <small>Total users joined</small>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
          </div>
          <h5>Total Issued Book</h5>
        </div>
        <div class="ibox-content">
          {% if not year %}
          <h3 class="no-margins">{{ user_count.count }}</h3>
          {% else %}
          <h3 class="no-margins">{{ year.count }}</h3>
          {% endif %}
          <small>Total products purchased</small>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Orders</h5>
        <form action="" method="POST">
          {% csrf_token %}
          <label for="">Select Year</label>
          <select name="years" id="">
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
          <input type="submit" value="Submit" class="ml-2">
        </form>
        <div class="ibox-tools">
          <div class="btn-group">
            <button type="button" class="btn btn-xs btn-white active">Today</button>
            <button type="button" class="btn btn-xs btn-white">Monthly</button>
            <button type="button" class="btn btn-xs btn-white">Annual</button>
          </div>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-9">
            <div class="flot-chart">
              <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                {% if not year %}
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Book</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Issued Date</th>
                        <th>Return Date</th>
                        <th>Charge Per Day</th>
                        <th>Total Charge</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Book</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Issued Date</th>
                        <th>Return Date</th>
                        <th>Charge Per Day</th>
                        <th>Total Charge</th>
                    </tr>
                </tfoot>
                {% endif %}
                <tbody>
                  {% if not year %}
                    {% for o in user_count %}
                    <tr>
                        <td>{{ o.username }}</td>
                        <td>{{ o.book }}</td>
                        <td>{{ o.email }}</td>
                        <td>{{ o.address }}</td>
                        <td>{{ o.issued_date }}</td>
                        <td>{{ o.return_date }}</td>
                        <td>{{ o.charge_per_day }}</td>
                        <td>{{ o.total_charge }}</td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    {% for o in year %}
                    <tr>
                        <!-- <td>{{ o.username }}</td>
                        <td>{{ o.book }}</td>
                        <td>{{ o.email }}</td>
                        <td>{{ o.address }}</td>
                        <td>{{ o.issued_date }}</td>
                        <td>{{ o.return_date }}</td>
                        <td>{{ o.charge_per_day }}</td>
                        <td>{{ o.total_charge }}</td> -->
                    </tr>
                    <canvas id="bar-chart" width="250" height="80"></canvas>
                    {% endfor %}
                  {% endif %}
                </tbody>
            </table>
              <div class="flot-chart-content" id="flot-dashboard-chart"></div>
            </div>
          </div>
          <div class="col-lg-3">
            <ul class="stat-list">
              <li>
                <h2 class="no-margins">14</h2>
                <small>Recent Users</small>
                <div class="stat-percent">48% <i class="fa fa-arrow-up text-navy"></i></div>
                <div class="progress progress-mini">
                  <div style="width: 48%;" class="progress-bar"></div>
                </div>
              </li>
              <li>
                <h2 class="no-margins ">12</h2>
                <small>Recent Marketplace Orders</small>
                <div class="stat-percent">60% <i class="fa fa-arrow-down text-navy"></i></div>
                <div class="progress progress-mini">
                  <div style="width: 60%;" class="progress-bar"></div>
                </div>
              </li>
              <li>
                <h2 class="no-margins ">10</h2>
                <small>Recent Event Orders</small>
                <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                <div class="progress progress-mini">
                  <div style="width: 22%;" class="progress-bar"></div>
                </div>
              </li>
              <li>
                <h2 class="no-margins ">9</h2>
                <small>Flash Deals</small>
                <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                <div class="progress progress-mini">
                  <div style="width: 38%;" class="progress-bar"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% comment %} <div class="row">

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-success float-right">Annnual</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">40,886,200</h1>
        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
        <small>Total income</small>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-info float-right">Monthly</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">275,800</h1>
        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
        <small>New orders</small>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-primary float-right">Today</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">106,120</h1>
        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
        <small>New visits</small>
      </div>
    </div>
  </div>

</div> {% endcomment %}
<!-- /row -->

<script>
  var chart = new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["Jan", "Fab", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"],
      datasets: [
        {
          label: "Issued Books",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3cba9f","#e8c3b9"],
          data: {{chart}}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Issued Books'
      }
    }
});
</script>


{% endblock %}