{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body class="d-block">
  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <a class="navbar-brand" href="{% url 'library_admin:admin-dashboard' %}">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'library_admin:add-book' %}">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'author:add-author' %}">Add Author</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Issue Book
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'library_admin:issue-book' %}">Issue Book Form</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categoris
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for obj in category %}
            <li><a class="dropdown-item category" pid="{{obj.id}}">{{obj.category_name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'library_admin:admin-logout' %}">Log out</a>
        </li>
      </ul>
    </div>
    <form class="d-flex" method="GET">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchinput">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchbtn">Search</button>
    </form>
  </nav>
  {% endblock navbar %}

  {% block content %}
  <h1 class="text-center mt-4">Issued Books</h1>
  <hr>
  <form action="" method="GET" class="text-center" onsubmit="return search_data()">
    <!-- {% csrf_token %} -->
    <label for="">Search User by Mail ID :</label>
    <input type="email" id="search" class="w-15 m-auto" autocomplete="off">
    <input type="submit" value="Submit" class="btn-success mt-1" id="searchbtn">
  </form>
  <hr>
  <div class="m-5">
    <table class="table main">
      <thead class="bg-dark text-white">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Books</th>
        <th scope="col">Issued Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Charge per Day</th>
        <th scope="col">Total Charge</th>
        <th scope="col">Actions</th>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <th scope="row">{{book.username}}</th>
          <td>{{book.email}}</td>
          <td>{{book.address}}</td>
          <td>{{book.book}}</td>
          <td>{{book.issued_date}}</td>
          {% if book.return_date is not None %}
          <td>{{book.return_date}}</td>
          {% else %}
          <td>-</td>
          {% endif %}
          <td>₹{{book.charge_per_day}}</td>
          {% if book.total_charge is not None %}
          <td>₹{{book.total_charge}}</td>
          {% else %}
          <td>-</td>
          {% endif %}
          <td>
            {% if book.return_date is None %}
            <a href="{% url 'library_admin:issued-books-delete' book.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'library_admin:issued-books-edit' book.id %}" class="btn btn-info">Edit</a>
            <a href="{% url 'library_admin:issued-books-details' book.id %}" class="btn btn-secondary">View</a>
            {% else %}
            <!-- <a href="{% url 'library_admin:issued-books-delete' book.id %}" class="btn btn-danger">Delete</a> -->
            <li class="list-group-item list-group-item-dark">Book Recived</li>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="text-center"><a href="{% url 'library_admin:admin-dashboard' %}" class="btn btn-lg btn-success">Home
      Page</a></div>
  {% endblock content %}

  {% block pagination %}
  {% if is_paginated %}
  <div class="m-4 paginater-hide">
    <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a></li>
        {% endif %}
        <li class="page-item"><a href="#" class="page-link">{{page_obj.number}}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}
  {% endblock pagination %}

</body>

</html>