{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body class="d-block">
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <a class="navbar-brand" href="{% url 'library_admin:admin-dashboard' %}">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'library_admin:add-book' %}">Add Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Author</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categoris
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for obj in category %}
                <li><a class="dropdown-item category" pid="{{obj.id}}">{{obj.category_name}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'library_admin:admin-logout' %}">Log out</a>
            </li>
          </ul>
        </div>
        <form class="d-flex" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchinput">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchbtn">Search</button>
        </form>
    </nav>
    {% endblock navbar %}
    
    {% block content %}
      <h1 class="text-center mt-4">{{author.name}}</h1><hr>
      <h2 class="mx-5">Discription :</h2><br>
      <p class="mx-5">{{author.description}}</p><hr>
      <h2 class="mx-5">Books :</h2><br>
      <p class="mx-5">
        {% for i in author.book.all %} 
          - {{i.name}}<br>
        {% endfor %} 
      </p><hr>
      <h2 class="mx-5">Books Discription :</h2><br>
      <p class="mx-5">
        {% for i in author.book.all %} 
          - <b>{{i.name}}</b> : {{i.description}}<br><br>
        {% endfor %} 
      </p><hr>
      <p class="text-center"><a href="{% url 'author:author-list' %}" class="btn btn-lg btn-success">Home Page</a></p>
    {% endblock content %}

</body>
</html>